<div class="login-status" role="region" aria-labelledby="authentication_link">
    {% if request.user.is_authenticated %}
        <a href="{% url 'auth_logout' %}" class="login-status__link button button--small button--primary" id="authentication_link">Logout</a>
    {% else %}
        <a href="{% url 'auth_login' %}" class="login-status__link button button--small button--primary" id="authentication_link">Login</a>
        {# needs register link #}
        <a href="{% url 'auth_login' %}" class="login-status__link button button--small button--secondary">Register</a>
    {% endif %}
</div>
